body{
    background-color: rgb(251, 220, 252);
   
    width: 100%;
    font-family:Helvetica;
    }

    #entradaTareas{
        margin: 0 auto;
        margin-top: 10px;
        padding: 15px;
        width: 95%;
        border-radius: 4px;
   
        
    }
    #entradaTareas *{
        margin:4px;
        padding: 8px;
        width: 15%;
        border-radius: 4px;
        border-color:blueviolet;
    }
    
    #descripTarea {
        width: 28%;
    }
    
    #title{
        margin-left:30px;
        width: 28%;
        padding: 10px;
        font-family: Helvetica;
       } 

       .button{
        background-color: rgb(114, 25, 173);
        color: rgba(255, 255, 255, 0.733);
    
         }
   
    li{
        font-weight: 800;
        color: rgb(81, 0, 148);
        margin-right: 138px;
        margin-left: 70px;
        margin-top: 30px;
        padding: 4% 6%;
         display: inline-block;
        font-size: 16px;
    }

    .ListT{
   
        width: 250px;
        margin: 30px 50px;
        padding: 25px 40px;
        border-radius: 5px;  
        justify-content: center;
        background-color: rgb(157, 157, 196);
    }

    .ListT *{
        margin-bottom: 7px;
        border-radius: 5px;

    }
    #ListT {
        display: inline-flex;
        
    }

    #toDoT{
    width: 440px;
    }

    #doingT{
        width: 440px;
        justify-content: center;
        position: relative;
    }

    #doneT{
       width: 440px;
        justify-content: center;
        position: relative;
    }
    .descripTarea{
   
        padding: 25px 2%;
        color: rgb(252, 252, 252);
        font-weight: 700;
        justify-content: center;
        font-size:large;
    }
    .date{
        color: rgb(252, 252, 252);
        font-size: smaller;
    
    }  .borrarBtn{
        position: relative;
        margin-left: 230px;
 
       background-color: rgb(255, 255, 255);
       color: rgb(247, 45, 45);
       font-weight: bold;
      
   }

   .subirBtn{
       position: relative;
        margin-left: 230px;
       background-color: rgb(255, 255, 255);
       color: rgb(0, 0, 0);
       font-weight: bold;
   }

   .bajarBtn{
   
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
      font-weight: bold;
   }

   