body{
    background-color: rgb(251, 220, 252);
   
    width: 100%;
    font-family:Helvetica;
    }

    #entradaTareas{
        margin: 0 auto;
        margin-top: 10px;
        padding: 15px;
        width: 95%;
        border-radius: 8px;
        background-color: rgba(166, 31, 168, 0.733);
        
    }
    #entradaTareas *{
        margin:4px;
        padding: 8px;
        width: 15%;
        border-radius: 8px;
        border-color:blueviolet;
    }
    #descripTarea {
        width: 28%;
    }
    #title{
        margin-left:30px;
        padding: 20px;
        font-family: Helvetica;
       } 

    .button{
        color: rgb(114, 25, 173);
        background-color: rgba(255, 255, 255, 0.733);
    
    }
    .columna{
        text-align: center;
        margin-top: 50px;
    }

    li{
        color: rgb(81, 0, 148);
        display: inline-block;
        margin-right: 140px;
        margin-left: 55px;
        margin-top: 30px;
        border-radius: 10px;
        padding: 5% 8%;
        font-size: 16px;
    }


    .ListT{
   
        width: 250px;
        margin: 30px 90px;
        padding: 35px 30px;
        border-radius: 10px;  
        justify-content: center;
        background-color: rgb(157, 157, 196);
    }
    
    .ListT *{
        margin-bottom: 5px;
        border-radius: 10px;
    }


    #borrarBtn{
    
        margin-top: -10px;
        margin-left: 260px;
        background-color: rgb(255, 58, 58);

    }
    #subirBtn{
      
        margin-top: 10px;
        margin-left: 260px;
        background-color: rgb(74, 147, 243);

    }
    #bajarBtn{
      
        margin-top: -21px;
        margin-left: -260px;
        margin-bottom: 10px;
        background-color: rgb(255, 255, 67);
    }
    .date{
        color: rgb(99, 99, 100);
        font-size: x-small;
    }


    

    


